
h1{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 550;
    margin-top: 2%;
    /* margin-left:12%; */
    font-family: 'Segoe UI';
    color:rgb(196, 79, 196);
}

body{
    width:100vw;
    height:100vh;
    /* background-image: linear-gradient(50deg,white 0% 45% ,violet   ); */
    background-color: white ;
    background-image: url(image/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-width: 450px;
    position:relative;
}

.d{
    position:absolute;
    right:0;
    width:100vh;
    height:150vh;
    /* border: 1px solid black; */
    background-color: rgb(236, 122, 236);
    transform: rotateZ(-15deg);
    margin-top:-20%;
    margin-right:-5.4%;
    z-index: -1;
    overflow: hidden;
}
#whole{
    display: flex;
}
#left{
    width:55%;
    height:100%;
    margin-left: 4%;
    min-width: 400px;
}




.drag-drop{
    width:68%;
    height:35%;
    border:3px dashed purple;
    border-radius: 6%;
    padding:5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    margin-left: 15%;
    margin-top: 10%;
}
.drag-drop img{
    width:40%;
    height:55%;
    margin-top: 3%;
    /* align-items: center; */
}
.drag-drop:hover{
    background-color: rgba(241,243,244,1);
    box-shadow: 1px 1px 1px 12px rgba(241,243,244,1);
    border:3px solid purple;
}
.drag-drop-over{
    border:3px dashed purple;
    /* border:solid purple; */

}

.drag-drop-tag{
    text-align: center;
    height:auto;
    width:75%;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight:500 ;
    color:rgba(36, 24, 24, 0.432)
}
.drag-drop-input{
   display: none;
}

.drag-drop-thumb{
    position: relative;
    height:75%;
    width:58%;
    overflow:hidden;
    border-radius: 10%;
    background-color: rgb(239, 233, 240);
    background-size: cover;
    padding: -5%;
   /* padding-left: 20px; */
}
.drag-drop-thumb::after{
    content: attr(data-label); 
    bottom: 0;
    left:0px;
    position:absolute;
    /* padding:5px 0px 5px 2px; */
    /* word-wrap: break-word; */
    border-radius:2px 0px 0px 20px;
    background-color: black;
    color: white;
    text-align: center;
    width:100%;
    height:auto;
    font-size: 1.3rem;
    overflow: hidden;
}

#right{
    width:40%;
    height:auto;
    margin-left: 10%;
    margin-top: 8%;
    color:white !important;
    min-width: 400px;
}
#right h1{
    color:white !important;
    font-size: 2.5rem;
    margin-left: -35%;
}
#right div img{
    height:100px;
    width:100px;
}
#right div{
    display: flex;
    align-content: baseline;
}

#outer{
    display: flex;
    padding-top: 5%;
}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    /* outline: 2px solid #f00; */
    background-color: rgb(238, 87, 238);
    /* box-shadow: 1px 1px 1px 10px rgb(238, 87, 238); */
    border-radius: 5px;
  }

.continue-button{
    width:100%;
    height:10%;
    padding-left: 20%;
    padding-top: 10%;
}

.continue-button button{
    color:rgb(196, 79, 196);
    
    width:50%;
    height:18%;
    /* padding-left:0%; */
    padding-top:1%;
    font-size: 250%;
    font-weight:300;
    border-radius: 3.2rem;
    border:none;
}


.continue-button button:hover{
    color: white;
    background-color: rgb(196, 79, 196);
    /* border: 2px solid white; */
}

@media screen and (max-width:800px) {
    #whole{
        flex-direction: column;
    }
    #right{
        align-items: center;
        width:80%
    }
    #right h1{
        color:rgb(161, 48, 161) !important;
        text-align: center !important;
        margin-left: 0%;
    }
    #left{
        width:80%;
    }

    #outer{
        align-items: center;
        padding-left: 4vw;
    }
    [type=radio]:checked + img {
        background-color: rgb(223, 222, 222);
      }
    .continue-button button{
        border:2px solid rgb(196, 79, 196);
    }
    .continue-button button:hover{
        border-color:white;
    }
}

@media  screen and (min-height:700px) {
    #left{
        padding-top: 5%;
        width:50%;
    }
    .drag-drop{
        width:74%;
        height:38%;
       
    }
    #right{
        padding-top: 5%;
        /* margin-left: 1%; */
    }
    body{
    background-position-x:65%;
    }
    #whole{
    justify-content: space-around;
    }
}